@import "button_style.css";
@import "header.css";
@import "footer.css";

.card_container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: auto;
    text-align: center;
    grid-gap: 6px;
    border: 3px black;
    align-items: stretch;
    margin-left: 5px;
}

.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
    background: linear-gradient(to bottom right, #DCBFF3, #A4E4F5);
}

.card-img{
    font-size: 60%;
    width: 100%;
}

.content{
    font-size: 100%;
    font-weight: bold;
    color: #084627;
    border-bottom: 5px;
    padding: 5px;
}

body{
    background-color: #ABE9CA;
}

@media (max-width: 900px){
    .card_container{
        grid-template-columns: repeat(1, auto);

    }
}