@import "button_style.css";
@import "header.css";
@import "footer.css";

/* .card{
    border: 1px solid #228B22;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    max-height: 800px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    margin: 0px;
    background: linear-gradient(#DCBFF3, #A4E4F5);
    background-repeat: no-repeat;
} */

.card_container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: auto;
    text-align: center;
    grid-gap: 6px;
    border: 3px black;
    align-items: stretch;
    margin-left: 5px;
}

.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid;
    align-items: center;
    padding-top: 10px;
}

.card-img{
    font-size: 60%;
    width: 50%;
    height: 50%;
}

.content{
    font-size: 100%;
    font-weight: bold;
    color: #084627;
}

body{
    background-color: #ABE9CA;
}